



h1{
  text-align: center;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  background-color:darkorange;
  padding: 30px;
  margin-bottom: 0px;

}

/* Table css==========================*/
table,caption,tr,th,td{
  
  border: 1px solid black;
  border-collapse: collapse;
  padding: 5px;
}

.table_color{

  background-color: red;
}

.table_alternative_color{
  background-color: blue;
}

.copy{
background-color:white;
padding: 10px;
}

.copy_next{
  vertical-align: bottom;
  
}

.top_color{
  
  color: orangered;
  margin-bottom: 10px;
}
.img-position{
  
  text-align: center;
}
ul  li a{
  text-decoration: none;
  padding: 5px;
}
ul  li a:hover{
  background-color:deeppink
  
}
ul{
  text-align: center;
  max-width: 90%;
 
}
ul li{
  list-style: none;
  display: inline;
  margin: 4px 22px;
  font-size: 16px;
  
  
}
.nau-container{
  background-color: red;
}
