



h1{
  text-align: center;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  background-color:darkorange;
  padding: 30px;

}

/* Table css==========================*/
table,caption,tr,th,td{
  
  border: 1px solid black;
  border-collapse: collapse;
  padding: 5px;
}

.table_color{

  background-color: red;
}

.table_alternative_color{
  background-color: blue;
}

.copy{
background-color:white;
padding: 10px;
}

.copy_next{
  vertical-align: bottom;
  
}

.top_color{
  
  color: orangered;
}